*{
    padding: 0px;
    margin: 0px;
    font-family: serif;
}

body{
    background-image: url(netflix.jpg);
    object-fit: cover;
}

header{
    width: 100%;
    display: flex;
    display: inline-row;
    margin-top: 40px;
    padding: 20px;
    align-items: center;
}

#container{
    width: 170px;
    display: flex;
    justify-content: right;
    margin-left: 900px;
    justify-content: space-between;
}

#logo{
    color: red;
    margin-left: 70px;
    font-size: 40px;
}

select{
    background-color: transparent;
    color: white;
    border-radius: 4px;
    width: 80px;
    height: 35px;
    font-size: large;    
}

#signIn{
    color: white;
    background-color: red;
    width: 80px;
    height: 35px;
    border-radius: 2px;
    text-align: center;
    align-content: center;
    font-size: large;  
}


section{
    color: white;
    align-content: center;
    margin-top: 90px;
}

#main{
    font-size: 4rem;
    font-weight: bolder;
}

#no{
    font-size: 2rem;
    
}

input{
    width: 300px;
    height: 40px;
    font-size: 20px;
    border: 2px solid rgb(29, 28, 28);
    background: transparent;
    color: white;

}

button{
    width: 200px;
    height: 40px;
    font-size: 20px;
    background-color: red;
    border: 2px solid transparent;
    color: white;
    font-weight: bolder;
}
